# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Daw1_Fran\Documents\DAW1\Programacion\repositorio\programacion\TEMA 8_xml_json\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
